
.container button:hover {
    color: red;
    justify-content: space-between;
    border-radius: 20px;
    box-shadow: 0px 0px 10px rgb(7, 7, 202);

}
.container{
    width: 100%;
    height:100hv;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}
.color{
    margin-bottom:20px;
    padding: 30px;
    width: 100%;
    height:100hv;
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.reset{
    margin-top:20px;
    padding: 30px;
    width: 100%;
    height:100hv;
    display: flex;
    justify-content: center;
    align-items: center;
}
.smile{
    margin-top:20px;
    padding: 30px;
    width: 100%;
    height:100hv;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

button{
    width:auto;
    border:2px solid blue;
    margin:0px 10px;
    padding:40px 40px;
    font-size: 50px;
    box-sizing: content-box;
    font-style: italic;
    font-style: bold;
}