h1{
    color:blue;
    background-color: rgb(144, 6, 126);
    text-align: center;
    font-size: 60px;
}
img{
    width: 400px;
    padding: 40px;
    border-radius: 50%;
}
imgcontainer{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}